* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

:root {
    --cor-fundo: #231E1B;
    --cor-texto-nav: #A8A8A8;
    --cor-nome: #FAF7DC;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

html {
    background-color: var(--cor-fundo);
    font-size: 62.5%;
}

.container {
    width: 100%;
    max-width: 123.3rem;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    position: sticky;
    width: 100%;
    height: 12.7rem;
    display: flex;
    background-color: var(--cor-fundo);
    backdrop-filter: blur(4px);
}

header .container{
    margin: 6rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    gap: 5.4rem;
}

header nav a {
    color: var(--cor-texto-nav);
    font-size: 1.70rem;
    font-weight: 400;
    line-height: normal;
}

.eudes {
    width: 100%;
    padding: 13rem 13rem 27.39rem;
}

.eudes .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.eudes .esquerda {
    width: 100%;
    max-width: 53.924rem;
}

.eudes .esquerda .redes {
    display: flex;
    margin-top: 3rem;
}

.eudes .esquerda h1 {
    color: var(--cor-nome);
    font-size: 7.421rem;
    font-weight: 500;
    line-height: 0.9;
}

.eudes .esquerda .paragrafo {
    display: flex;
    padding-top: 2rem;
    color: var(--cor-texto-nav);    
    font-size: 2.1rem;
    line-height: normal;
}

.eudes .esquerda .contato {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eudes .esquerda .contato .redes {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.eudes .esquerda .contato .redes .botao {
    padding-left: 11.5rem;
}

.eudes .direita img {
    width: 95%;
    height: auto;
}



