* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

:root {
    --cor-fundo: #231E1B;
    --cor-texto-nav: #A8A8A8;
    --cor-nome: #FAF7DC;
    --cor-text-footer: #EBD0A1;
    --cor-footer: #23574C;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

html {
    background-color: var(--cor-fundo);
    font-size: 62.5%;
}

.container {
    width: 100%;
    max-width: 123.3rem;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    position: sticky;
    width: 100%;
    height: 15rem;
    display: flex;
}

header .container{
    margin: 6rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    gap: 5.4rem;
}

header nav a {
    color: var(--cor-texto-nav);
    font-size: 1.70rem;
    font-weight: 400;
    line-height: normal;
}

.eudes {
    width: 100%;
    padding: 9rem 12rem 10rem;
}

.eudes .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.eudes .esquerda {
    width: 100%;
    max-width: 53.924rem;
}

.eudes .esquerda .redes {
    display: flex;
    margin-top: 3rem;
}

.eudes .esquerda h1 {
    color: var(--cor-nome);
    font-size: 7.421rem;
    font-weight: 500;
    line-height: 0.9;
}

.eudes .esquerda .paragrafo {
    display: flex;
    padding-top: 2rem;
    color: var(--cor-texto-nav);    
    font-size: 2.1rem;
    line-height: normal;
}

.eudes .esquerda .contato {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eudes .esquerda .contato .redes {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.eudes .esquerda .contato .redes .botao {
    padding-left: 11.5rem;
}

.eudes .direita img {
    width: 95%;
    height: auto;
}

footer {
    background-color: var(--cor-footer);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 10.1rem;
}

footer .container {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    gap: 9rem;
}

footer .container p {
    color: var(--cor-text-footer);
    font-size: 2rem;
    font-weight: 400;
}

footer .container .linkedin {
    display: flex;
    align-items: end;
    gap: 0.5rem;
}

footer .container .github {
    display: flex;
    align-items: end;
    gap: 0.3rem;
}

footer .container .gmail {
    display: flex;
    align-items: end;
    gap: 0.5rem;
}

.sobre {
    background: url(../img/Fundo\ do\ Sobre.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 68rem;
    padding: 8rem 10rem 12rem;
}

.sobre .container {
    display: flex;
    flex-direction: column;
}

.sobre h1 {
    color: var(--cor-fundo);
    font-size: 8.1041rem;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 1rem;
}

.sobre p {
    color:var(--cor-fundo);
    font-size: 2.3rem;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 2rem;
}

.estudei {
    background: url(../img/Desenho\ do\ Fundo.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    height: 80rem;
    padding: 28rem 12rem 12rem;
    box-sizing: border-box;
}

.estudei .container {
    display: flex;
    flex-direction: column;
}

.estudei .container h2{
    color: #FFF;
    font-size: 8rem;
    font-weight: 600;
    line-height: normal;
    padding: 7rem 2rem 10rem;
}

.hard {
    background: url(../img/hard.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 68rem;
    padding: 8rem 10rem 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hard .container h3{
    color: #231E1B;
    font-size: 7.8888rem;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    padding: 18rem;
}

.soft {
    display: flex;
    height: 68rem;
}

.soft .container h4{
    color: #FFF;
    font-size: 7.8888rem;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    padding: 18rem 9rem 13rem;
}

.soft .container .habilidades {
    color: var(--cor-texto-nav);
    font-size: 3.6216rem;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    gap: 15rem;
}

.soft .container .habilidades .criativo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.soft .container .habilidades .observador {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.soft .container .habilidades .organizado {
    display: flex;
    align-items: center;
    gap: 1rem;
}